<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                View Projects
            </h1>
        </div>
    </div>
    <div class="row">
        <div id="viewProjects" class="col-md-12">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/members"><button class="homebtn" type="button" class="btn btn-primary btn-lg active">
                    Home
                </button></a>
            <a href="/support"><button class="supportbtn" type="button" class="btn btn-primary btn-lg active">
                    Support
                </button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#each projects}}
            <h2> Project Details</h2>
            <p>UserID: {{dataValues.UserId}}</p>
            <p>Chemical: {{dataValues.chemical}}</p>
            <p>Unit: {{dataValues.unit}}</p>
            <p>Volume: {{dataValues.volume}}</p>
            <p>Area: {{dataValues.area}}</p>
            <p>Ounces: {{dataValues.ounces}}</p>
            <p>Wind Speed {{dataValues.windspeed}}</p>
            <p>TempF: {{dataValues.tempF}}</p>
            {{/each}}
        </div>
    </div>
</div>

{{!-- <script src="js/create.js"></script> --}}